[Desktop Entry]
Type=Application
Name=Eclipse Neon
Comment=Eclipse Integrated Development Environment
Icon=eclipse
Exec=/local/home/$USER/eclipse/java-latest-released/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;
